<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1>Detail</h1>
    <h2>{{object.product_name}}</h2>
    <table>
        <tr>
            <th>Product Name</th>
            <td>{{object.product_name}}</td>
        </tr>
        <tr>
            <th>Collection</th>
            <td>{{object.collection}}</td>
        </tr>
        <tr>
            <th>Surface</th>
            <td>{{object.surface}}</td>
        </tr>
        <tr>
            <th>Weight</th>
            <td>{{object.weight}}</td>
        </tr>
        <tr>
            <th>Thickness</th>
            <td>{{object.thickness}}</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>{{object.size}}</td>
        </tr>
        <tr>
            <th>Product Image</th>
            <td>{{object.product_image}}</td>
        </tr>
        <tr>
            <th>Preview</th>
            <td>{{object.preview}}</td>
        </tr>
        <tr>
            <th>Product Quantity</th>
            <td>{{object.product_quantity}}</td>
        </tr>
    </table>
</body>
</html>